@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

$correct-color: green;
$incorrect-color: red;
$correct-transparent-color: rgba(0, 128, 0, 0.61);
$text-color: white;
$highlight-color: rgb(183, 0, 255);
$font-family-primary: 'Roboto Mono', monospace;
$font-family-secondary: 'Anton', sans-serif;
$font-family-tertiary: 'Rock Salt', cursive;

.question-title {
    font-size: 2.2em;
    line-height: 1.1;
    margin-top: 0px;
    position: fixed;
    text-align: center;
    top: 16px;
    width: 100%;
    z-index: 1;
    left: 0px;

    .punk {
        font-family: $font-family-secondary;
        color: $highlight-color;
    }

    .trivia {
        font-family: $font-family-tertiary;
        display: inline-block;
        transform: rotate(-5deg);
        color: $text-color;
    }
}

.question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    height: calc(100vh - 100px);
    overflow: hidden;
    margin-top: 33px;
    z-index: 100;
    position: relative;
}

.questions {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: $text-color;
    margin: 10px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin-top: 36px;
}

button {
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 8px;
    border: 3px solid $highlight-color;
    background-color: #1a1a1a;
    color: $text-color;
    transition: background-color 0.3s, color 0.3s;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3000;
}

.modal-content {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    color: $text-color;
    margin: 10px;
}

.modal-content p {
    margin: 10px 0;
}

.modal-content img.explanation-image {
    max-width: 100%;
    max-height: 250px;
    margin-top: 10px;
    border-radius: 10px;
}

.modal-content button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 8px;
    border: 1px solid transparent;
    background-color: $highlight-color;
    color: $text-color;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

    &:focus {
        outline: 3px solid $highlight-color;
        outline-offset: 2px;
    }
}

.correct {
    background-color: $correct-color;
    color: $text-color;
}

.incorrect {
    background-color: $incorrect-color;
    color: $text-color;
}

.correct-transparent {
    background-color: $correct-transparent-color;
    color: $text-color;
}

@media (min-width: 768px) {
    .question-title {
        font-size: 2.7em;
    }

    .questions {
        font-size: 2em;
    }

    button {
        font-size: 1.5em;
    }
}

@media (min-width: 1024px) {
    .question-container {
        max-width: 800px;
        height: calc(100vh - 100px);
    }

    .button-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    button {
        margin: 10px;
        width: auto;
    }
}